@charset "UTF-8";

    @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to bottom, #3CA6A6, #026773);
    background-attachment: fixed;
}

header {
    padding-top: 200px;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Fredoka', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 40px;
}

main {
    background-color: white;
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px  rgba(0, 0, 0, 0.616);
}

footer, a {
    padding-top: 25px;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.74);
    text-decoration: none;
}

footer> a:hover {
    color: #f8e5d4;
    transition: 300ms;
}